body
{
    background-color:rgba(170, 213, 240, 0.223);
}
.form{
 text-align: center;
}
.submit{
border-radius: 10px;
background-color:rgba(250, 235, 215, 0.005);
box-shadow: 5px;
justify-content: center;
}
.submit:hover{
    background-color: rgba(85, 85, 239, 0.492);
}
.reset{
    border-radius: 10px;
    background-color:rgba(250, 235, 215, 0.005);
    box-shadow: 5px;
    justify-content: right;
}
.reset:hover{
background-color: rgba(85, 85, 239, 0.492);
}