body
{
 background-color: rgb(224, 237, 239);
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100px;
}
.pole
{    
    border-color: blueviolet;
    height: 150px;
    width: 100px;
    border-radius: 100px;   
    display: flex;
    margin-top: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:thistle;    
}
.light{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 210px;
    background-color:black ; 
            transition-duration: 1s;
            transition-timing-function: ease;   
                 
    }
    @keyframes demo
    {
        0%{
            background-color: black;
        }
        
        50%{
            background-color:red;
        }
        100%{
        background-color: black;
        }
    }
.light:first-child{
    animation: demo ;
    animation-duration: 5s;
    animation-delay: 3s;
}
@keyframes demo1
    {
        0%{
            background-color: black;
        }
        
        50%{
            background-color:orange;
        }
        100%{
            background-color: black;
            }
    }
.light:nth-child(2){
    animation: demo1 ;
    animation-duration: 5s;
    animation-delay: 10s;
}
@keyframes demo2
    {
        0%{
            background-color: black;
        }
        
        50%{
            background-color:green;
        }
        100%{
            background-color: black;
            }
    }
.light:last-child{
    animation: demo2 ;
    animation-duration: 5s;
    animation-delay: 15s;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    