style.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #d7eaee;
  min-height: 100vh;
  border: 5px solid #1d1e4c;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}
.top_section {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top_section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}
.top_section h4 {
  font-size: 30px;
  text-align: end;
}

.image_container {
  border-radius: 50%;
  overflow: hidden;
}

.image_container,
img {
  width: 300px;
  height: 320px;
}
.about_section {
  margin-top: 50px;
}
footer {
  margin: 50px 0;
}
footer p {
  text-align: end;
}
dd{
  text-align: justify;
  padding: 10px;
}
dt{
  text-shadow: 10px;
  font-size: 20px;
  text-decoration: double;
  font-weight: bolder;

  }